/* Le code CSS spécifique à la page de documentation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
    margin-bottom: 10px;
    list-style-type: none;
    text-decoration: none;
}

 

.flex {
    display: flex;
}

.sticky {
    position: sticky;
    top: 5px;
    }