@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* Le code CSS spécifique à la page d'accueil */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    padding: 0px 64px;
    background-color: rgba(222, 222, 222, 0);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    position: fixed;
    transition: background .6s ease;
}

.coloredHeader {
    background-color: #fff;
}
 

header>nav {
    margin: auto;
}

h1 {
    color: #285430;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
}

h2 {
    color: #285430;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;

}

h3 {
    color: #285430;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}


.logo {
    width: 100px;

}

/* flexbox */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-content: flex-end;
}

.textCenter {
    text-align: center;
}

.justifyCenter {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.block {
    display: inline-block;
}

/*GAP*/
.gap22 {
    gap: 22px;
}
.gap30{
    gap: 30px;
}


/*HERO*/

.sectionHero {
    height: 100vh;
    position: relative;
}

.bgHero {

    height: 100vh;
}

.divHero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/*CONTAINER*/

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.containerSection{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/*BOUTON*/

.btn {
    padding: 15px 25px;
    background-color: #006C4C;
    color: #222122;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    font-family: "Urbanist", sans-serif;
}


/*Puces*/

.none {
    list-style-type: none;
}

.noLine {
    text-decoration: none;
}

.logo {
    width: 100px;
}

/*WIDTH*/

.w20 {
    width: 20%;
}

.w25{
    width: 25%;
}
.w30 {
    width: 30%;
}

.w35 {
    width: 35%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}
.w60{
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.top10{
    margin-top: 10px;
}
.top20 {
    margin-top: 20px;
}

.top30 {
    margin-top: 30px;
}

.top50 {
    margin-top: 50px;
}

.top60 {
    margin-top: 60px;
}

.top70{
    margin-top: 70px;
}

.top100 {
    margin-top: 100px;
}

.m50{
    margin-top: 50px;
}

.margAuto{
    margin: auto;
}

/*PADDING*/

.pad50 {
    padding-top: 50px;
}

.pad150{
    padding: 150px;
}

.padBottom50{
    padding-bottom: 50px;
}
.marg15{
    margin-bottom: 15px;
}

/*COULEUR*/

.green {
    color: #285430;
}

.white {
    color: white;
}

/*BACKGROUND*/

.bgGreen {
    background-color: #006C4C;
}

.bgRed {
    background-color: red;
}

.bgBlue {
    background-color: #BAEADC;
}

.line{
    line-height: 24px;
}

.lineEtapes{
    line-height: 50px;
}

/*CHIFFRES*/

.cercleVert {
    background-color: #006C4C;
    color: white;
    border-radius: 100%;
    padding: 15px;
}

.size{
    font-size: 60px;
}

/*CARTE*/

.card {
    background-color: white;
    padding: 50px 20px;
    border-radius: 10px;
    color: #006C4C;
    text-align: center;
    align-items: center;
    line-height: 25px;
    margin-bottom: 50px;
    font-size: 13px;
    font-family: "Inter", sans-serif;
}

.weight{
    font-weight: 600;
}

/*CARTE AVIS CLIENTS*/

.cardAvis {
    background-color: white;
    padding: 20px 10px;
    border-radius: 20px;
    color: #006C4C;
    text-align: center;
    align-items: center;
    line-height: 25px;
    margin-bottom: 50px;
    font-size: 13px;
    font-family: "Inter", sans-serif;
}

/*TYPO*/

.italic{
    font-style: italic;
    font-weight: 300;
}

.urbanist {
    font-weight: 300;
    font-family: "Urbanist", sans-serif;
    font-style: medium;
}

.inter {
    font-family: "Urbanist", sans-serif;
    font-weight: 200;

}

/*Carousel*/
#photos{
    position: relative;

}
#photos img:first-child{
    position:static;
}
#photos img{
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: opacity .3s ease ;
}
.li-selected{
    background-color: #006C4C;
    color: #fff;
    border-radius: 10px;
    
}
.img-selected{
    opacity: 1 !important;
}

#liste li{
    padding:0 16px;
}





