@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* Le code CSS spécifique à la page d'accueil */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    padding: 0px 64px;
    background-color: rgba(222, 222, 222, 0);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    position: fixed;
    transition: background .6s ease;
}

.coloredHeader {
    background-color: #fff;
}

.gap22 {
    gap: 22px;
}

header>nav {
    margin: auto;
}

h1 {
    color: #285430;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
}

h2 {
    color: #285430;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;

}

h3 {
    color: #285430;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.logo {
    width: 100px;

}

/* flexbox */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: end;
}

.textCenter {
    text-align: center;
}

.justifyCenter {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.block {
    display: inline-block;
}


/*HERO*/

.sectionHero {
    height: 100vh;
    position: relative;
}

.bgHero {

    height: 100vh;
}

.divHero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/*CONTAINER*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.containerSection{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/*BTN*/
.btn {
    padding: 15px 25px;
    background-color: #006C4C;
    color: #222122;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    font-family: "Urbanist", sans-serif;
}


/*Puces*/
.none {
    list-style-type: none;
}

.noLine {
    text-decoration: none;
}

.logo {
    width: 100px;
}

/*WIDTH*/

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w35 {
    width: 35%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}
.w60{
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.top20 {
    margin-top: 20px;
}

.top30 {
    margin-top: 30px;
}

.top50 {
    margin-top: 50px;
}

.top100 {
    margin-top: 100px;
}

.p50 {
    padding: 0px 50px;
}

/*COULEUR*/

.green {
    color: #285430;
}

.white {
    color: white;
}

.bgRed {
    background-color: red;
}

.bgBlue {
    background-color: #BAEADC;
}

.line{
    line-height: 24px;
}